<!DOCTYPE html>
<html class="full" lang="en">
<head>
<style type="text/css">
@font-face {
	font-family: ModerneFraktur;
	src: url('ModerneFraktur.ttf');
}

div {
	font-family: ModerneFraktur;
}

body {
	font-family: ModerneFraktur;
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.full {
	background:
		url(http://ironsummitmedia.github.io/startbootstrap-landing-page/img/intro-bg.jpg)
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.top-buffer {
	margin-top: 20px;
}
</style>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>Volksbrett you brauchen something? you kriegen help!</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Volksbrett</a>
			</div>
			<div>
				<ul class="nav navbar-nav">
					<li><a href="/index">Home</a></li>
					<li><a href="/add">Add Note</a></li>
					<li class="active"><a href="/about">About</a></li>
				</ul>
			</div>
			<div class="pull-right navbar-text">
				<a th:text="${user}" href="/logout"></a>
			</div>
		</div>
	</nav>
	<div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-info col-lg-10">
			

			<div class="">
				<div class="col-lg-14">
					<h1 class="page-header">
						About Us <small>The Volksbrett for du!</small>
					</h1>
					<p>Unser Ziel war nicht etwas sinnvolles to maken sondern
						something ultra steilisch zu createn</p>
				</div>
			</div>

			<div class="">
				<div class="">
					<h2 class="page-header">Our Team</h2>
				</div>
				<div class="col-lg-6 col-sm-6 text-center">
					<img class="img-circle img-absolute img-center"
						src="http://demos.themelize.me/flexor/img/team/bono.jpg" alt="" />
					<h3>
						Hung Chuan Huang <small>CIO</small>
					</h3>
					<p>Always Sleeping</p>
				</div>
				<div class="col-lg-6 col-sm-6 text-center">
					<img class="img-circle img-absolute img-center"
						src="http://demos.themelize.me/flexor/img/team/jimi.jpg" alt="" />
					<h3>
						Christoph Habres <small>CEO</small>
					</h3>
					<p>Always Black</p>
				</div>
			</div>

		</div>
	</div>


	<!-- jQuery -->
	<script src="js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
