<!DOCTYPE html>
<html class="full" lang="en">
<head>
<style type="text/css">
@font-face {
	font-family: ModerneFraktur;
	src: url('ModerneFraktur.ttf');
}

div {
	font-family: ModerneFraktur;
}

body {
	font-family: ModerneFraktur;
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.full {
	background:
		url(http://ironsummitmedia.github.io/startbootstrap-landing-page/img/intro-bg.jpg)
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.top-buffer {
	margin-top: 20px;
}
</style>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>Volksbrett you brauchen something? you kriegen help!</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Volksbrett</a>
			</div>
			<div>
				<ul class="nav navbar-nav">
					<li><a href="/index">Home</a></li>
					<li><a href="/add">Add Note</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</div>
			<div class="pull-right navbar-text"> <a th:text="${user}"
					href="/logout"></a>
			</div>
		</div>
	</nav>
	<div>
		<div>
			<div
				class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<div class="panel panel-info">

					<div style="padding-top: 30px" class="panel-body">
						<form name="editform" action="/edit.do" th:action="@{/edit.do}"
							method="POST" class="panel-body clearfix">
							<fieldset>
								<div style="margin-bottom: 25px" class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-pencil"></i></span> <input
										class="form-control" type="text" th:value="${task}"
										name="task" placeholder="Title" />
								</div>
								<div style="margin-bottom: 25px" class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-th-list"></i></span>
									<textarea class="form-control" name="taskdesc" rows="3"
										placeholder="Description" th:text="${desc}"></textarea>
								</div>

							</fieldset>
							<input type="hidden" name="id" th:value="${id}"/>
							<div style="margin-top: 10px" class="form-group">
								<!-- Button -->

								<div class="col-sm-12 controls">
									<input type="submit" id="create" value="edit"
										class="btn btn-primary" />

								</div>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- jQuery -->
	<script src="js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
