<!DOCTYPE html>
<html class="full" lang="en">
<head>
<style type="text/css">
@font-face {
	font-family: ModerneFraktur;
	src: url('ModerneFraktur.ttf');
}

div {
	font-family: ModerneFraktur;
}

body {
	font-family: ModerneFraktur;
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.p {
	margin: 15px 5px 15px 5px;
}

.full {
	background:
		url(http://ironsummitmedia.github.io/startbootstrap-landing-page/img/intro-bg.jpg)
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.top-buffer {
	margin-top: 20px;
}
</style>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>Volksbrett you brauchen something? you kriegen help!</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Volksbrett</a>
			</div>
			<div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="/index">Home</a></li>
					<li><a href="/add">Add Note</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</div>
			<div class="pull-right navbar-text">
				<a th:text="${user}" href="/logout"></a>
			</div>
		</div>
	</nav>
	<div class="panel-group">
		<div th:each="u : ${users}" class="col-md-3">
			<div th:switch="${u.comp}">
				<div th:case="True" class="panel panel-success p">
					<div class="panel-heading clearfix">
						<div class="panel-title">
							<h4 th:text="${u.task}" align="left" />
						</div>
					</div>
					<div class="panel-body clearfix">
						<div th:text="${u.taskdesc}"></div>
					</div>
					<div class="panel-footer clearfix">
						<div class="pull-right">
							<a th:href="@{/complete/}+${u.id}" class="btn btn-primary"><span
								class="glyphicon glyphicon-ok"></span></a> <a
								th:href="@{/delete/}+${u.id}" class="btn btn-default"> <span
								class="glyphicon glyphicon-remove"></span><a
								th:href="@{/edit/}+${u.id}" class="btn btn-default"> <span
									class="glyphicon glyphicon-pencil"></span></a>
							</a>
						</div>
					</div>
				</div>
				<div th:case="False" class="panel panel-danger p">
					<div class="panel-heading clearfix">
						<div class="panel-title">
							<h4 th:text="${u.task}" align="left" />
						</div>
					</div>
					<div class="panel-body clearfix">
						<div th:text="${u.taskdesc}"></div>
					</div>
					<div class="panel-footer clearfix">
						<div class="pull-right">
							<a th:href="@{/complete/}+${u.id}" class="btn btn-primary"><span
								class="glyphicon glyphicon-ok"></span></a> <a
								th:href="@{/delete/}+${u.id}" class="btn btn-default"> <span
								class="glyphicon glyphicon-remove"></span> <a
								th:href="@{/edit/}+${u.id}" class="btn btn-default"> <span
									class="glyphicon glyphicon-pencil"></span></a>
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- jQuery -->
	<script src="js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
